div.blogpost {
    width: 75%;
    margin: auto;
    background-color: #ffffff75;
    padding: 10px;
    border-radius: 5px;
}

div.blogpost h1,
div.blogpost h2,
div.blogpost h3,
div.blogpost h4,
div.blogpost h5,
div.blogpost h6 {
    text-align: initial;
    font-weight: 100;
}

div.blogpost li {
    background: unset;
    padding: unset;
    border-radius: unset;
}